<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
  <xacro:include filename="$(find open_manipulator_description)/open_manipulator_robot.urdf.xacro"/>
  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator_robot.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro"/>


-->    
<robot name="turtlebot_all" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--

  <xacro:include filename="$(find open_manipulator_description)/urdf/open_manipulator_robot.urdf.xacro" ns="om"/>

  -->  
  
  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>


  <kobuki/>
  <stack_hexagons parent="base_link"/>
</robot>
