<?xml version="1.5"?>

<launch>

  <arg name="world_name" default="base_link"/>
  <arg name="marker_name" default="aruco_single_1"/>
       
  <include file = "$(find tgrip_cv_marker_tf)/launch/broadcaster.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="marker_name" value="$(arg marker_name)"/>
  </include>
  
  <include file = "$(find tgrip_cv_cube_tf)/launch/broadcaster.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="marker_name" value="$(arg marker_name)"/>
  </include>

</launch>
