<?xml version="1.0"?>

<robot name="tgrip" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find turtlebot_description)/urdf/sensors/kinect.urdf.xacro"/>

  <xacro:include filename="$(find kinect_description)/urdf/kinect.urdf.xacro"/>

  <xacro:include filename="$(find lidar_description)/urdf/hokuyo.urdf.xacro"/>

  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />

  
  <kobuki/>

  <stack_hexagons parent="base_footprint"/>

  <xacro:sensor_kinect parent="base_footprint" cam_px="0.03" cam_pz="0.3" cam_or="3.14" cam_op="0.475" cam_oy="0"/>

  <xacro:sensor_hokuyo parent="plate_top_link"/>
   
</robot>
