<!--
  Used for visualising the turtlebot while building a map or navigating with the ros navistack.
 -->
<launch>

<!-- we added this to rotate the image according to the orientation the kinect is mounted. -->
  <node pkg="image_rotate" type="image_rotate" name="image_rotator" 
      args="image:=aruco_single_0/result rotated/image:=aruco_rotated __name:=image_rotater"/>


  <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find tgrip_nav_srvcli)/rviz/tgrip_nav.rviz"/>

</launch>
