<?xml version="1.0"?>


<launch>

  <!--create urdf from urdf.xacro-->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find tgrip_description)/urdf/tgrip.urdf.xacro'"/>
	     
  <!--start joint state publisher with gui -->
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <!-- start robot state publisher -->
  <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher"
      output="screen" >
  </node>

  <!--node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find tgrip_description)/rviz/view_model.rviz" /-->

  <!-- to rotate the kinect image back to normal -->
  <node pkg="image_rotate" type="image_rotate" name="image_rotator"
      args="image:=camera/rgb/image_raw rotated/image:=camera/rgb/image_raw_rotated __name:=image_rotater _source_x:=-10 _source_y=0"/>
  
</launch>
