<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false"/>
  <arg name="usb_port" default="/dev/ttyUSB0" />
  <arg name="baud_rate"    default="1000000"/>
  <arg name="control_period"         default="0.010"/>
  <arg name="use_platform"           default="true"/>


  <!-- startup open manipulator with moveit-->
    <include file="$(find tgrip_manip_srvcli)/launch/all.launch">
      <arg name="sim" value="$(arg sim)"/>
    </include> 
  <node name="server_node" pkg="tgrip_manip_srvcli" type="server_node" 
   output="screen">
  </node>
 

</launch>
